.form-wrapper {
  max-width: 35rem;
  margin: 2rem auto;
  padding: 2rem;
}

.form-wrapper form input {
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
}

.form-wrapper form input:hover {
  outline: none;
  border: none;
}
